* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;

}

body,
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 24px;
}

#para {
    color: rgb(223, 177, 26);
}

.card {
    height: 250px;
    width: 20em;
    background-color: brown;
    padding: 10px;
    border-radius: 10px;
    margin: 2em auto;
}

input {
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
}

#btn, #refresh {
    background-color: rgb(223, 177, 26);
    color: white;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#btn:hover, #refresh:hover{
    background-color: rgb(117, 93, 15)
}
#refresh{
    display: none;
}